@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";

@theme {
  --font-primary: "Unna";
  --color-primary: #0B2D72;
  --color-dark: #082052;
  --color-light: #6d9dfc;
  --color-lighter: #83a6eb;

}

@keyframes ticker {
    0% { transform: "translateX(0)" };
    100% { transform: "translateX(-50%)" };
}

@layer utilities {
  .animation-ticker {
    animation: "ticker 30s linear infinite",
  }
}
